<launch>
	<param name="use_sim_time " value="true" />
	
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find robot_driver)/world/task1.world">
        <remap from="base_scan" to="scanOrig"/>
    </node>

	
    <node pkg="tf" type="static_transform_publisher" name="baseLink_to_Laser" args="0.17 0 0.1 0 0 0 base_link laser 50">
    </node>
	
	<node pkg="custom_noise" type="custom_noise_node" name="custom_noise_node" output="screen" >
		<remap from="scan_noise" to="scan"/>
    </node>
</launch>

